# Dependencies
node_modules

# Build files
dist
server/public

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
ThumbsDB

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite config files
vite.config.ts.*

# Archive files
*.tar.gz
*.zip
*.rar